body{
	margin:0 auto;
	padding:0;
	width:90%;
	background-color:#FFFFFF;
	font-family:"Nanum Gothic", "나눔고딕", "돋움", Dotum;
	color:#444444;
	font-size:0.75em;
}
h2{
	width:100px;
}
img{
	width:100%; 
}
#roomsub{
	width:100%; display:black; 
}

input{
	float:right; height:30px;
}

table{
	float:left; width:100%; border: 1px solid #AAAAAA; margin-top:10px;
}
th{height:50px; font-size:1.2em;}

#roominfo{ 
	width:100%;  display:black; margin-top:10px;  float:right; 
}

/*PC대상 및 대형 태블릿 대상 레이아웃 :769px～960px*/
@media only screen and (min-width: 769px) {



/* min-width: 769px */

/*PC대상 레이아웃 지정：961px이상 고정 레이아웃*/
@media only screen and (min-width: 961px) {