@charset "utf-8";

div#contents section#content h2{

	padding-bottom:10px; font-weight:bold;
	font-size:1.2em; color:#ffffff;
}
div#contents section#content p{margin:0 0 15px 5px; font-size:0.9em;}
#content img{margin-top:10px; margin-bottom:10px; }
.team{
	padding-left:20px; 
} 
h1.team{
	font-size:1.5em; 
} 
p.team{
	font-size:1.0em; padding-top:10px;
} 


@media only screen and (min-width: 769px) {

div#contents section#content p{
	margin:0 0 15px 5px; font-size:1em;
}

#content p{display:block; color:#000000;}
}/* (min-width: 769px) */
